@media all and (min-width:320px){
    div.banner{
        display: flex;
        flex-wrap: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #f76e11;
    }
    div#logo_box{
        box-sizing: border-box;
        margin-left: 20px;
    }
    div#logo_box img{
        width: 70px;
        height: 40px;
    }
    div#ban_right{
        margin-right: 20px;
        display: flex;
        flex-wrap: row nowrap;
        align-items: center;
    }
    div#login_box>a{
        margin-right: 20px;
        font-size: 20px;
        color: #fff;
    }

    div#log_box button#log_btn{
        background-color: #f76e11;
        border: none;
    }
    div#log_box img{
        width: 30px;
        height: 30px;
    }
    div.hidden_log{
        display: none;
        background-color: antiquewhite;
        width: 100%;
        height: 400px;
    }
}
@media all and (min-width:768px){
    div#logo_box img{
        width: 100px;
        height: 56px;
    }
    div#login_box>a{
        margin-right: 30px;
    }
    div#log_box img{
        width: 42px;
        height: 42px;
    }
    div.hidden_log{
        position: absolute;
        right: 0;
        top: 56px;
        display: none;
        background-color: antiquewhite;
        width: 40%;
        height: 400px;
    }
}
@media all and (min-width:1024px){
    div.hidden_log{
        display: none;
        background-color: antiquewhite;
        width: 30%;
        height: 400px;
    }
}