@media all and (min-width:320px){
    div.banner{
        display: flex;
        flex-wrap: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #f76e11;
    }
    div#logo_box{
        box-sizing: border-box;
        margin-left: 20px;
    }
    div#logo_box img{
        width: 70px;
        height: 40px;
    }
    div#ban_right{
        margin-right: 20px;
        display: flex;
        flex-wrap: row nowrap;
        align-items: center;
    }
    div#login_box>a{
        margin-right: 20px;
        font-size: 20px;
        color: #fff;
    }

    div#log_box button#log_btn{
        background-color: #f76e11;
        border: none;
    }
    div#log_box img{
        width: 30px;
        height: 30px;
    }
    div.hidden_log{
        position: fixed;
        top: 40px;
        right: 0;
        z-index: 100;
        display: none;
        box-sizing: border-box;
        border: 1px solid #f76e11;
        background-color: #fff;
        width: 100%;
        height: 400px;
    }
    div.hidden_log div.log_title{
        display: flex;
        flex-flow: row nowrap;
    }
    div.hidden_log div.log_title div{
        box-sizing: border-box;
        width: 50%;
        border-bottom: 1px solid silver;
    }
    div.hidden_log div.log_title div:hover{
        cursor: pointer;
        border-bottom: 3px solid silver;
    }
    div.log_title p{
        text-align: center;
        height: 60px;
        line-height: 60px;
        margin-bottom: 0;
        color: #f76e11;
    }

    ul.logs li.log{
        width: 100%;
        height: 75px;
        line-height: 75px;
        color: #fff;
        background-color: #f76e11;
        box-sizing: border-box;
        border: 1px solid #fff;
    }
    li.log a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    li.log img{
        width: 21.66667%;
        height: 65px;
        margin: 0 10px;
    }
    li.log h1{
        color: #fff;
        font-size: 20px;
    }
    li.log h2{
        color: #fff;
        font-size: 15px;
    }
}

/* ---------- 태블릿 ---------- */
@media all and (min-width:768px){
    div#logo_box img{
        width: 100px;
        height: 56px;
    }
    div#login_box>a{
        margin-right: 30px;
    }
    div#log_box img{
        width: 42px;
        height: 42px;
    }
    div.hidden_log{
        position: absolute;
        right: 0;
        top: 56px;
        display: none;
        /* background-color: antiquewhite; */
        width: 40%;
        height: 400px;
    }
}
@media all and (min-width:1024px){
    div.hidden_log{
        display: none;
        /* background-color: antiquewhite; */
        width: 30%;
        height: 400px;
    }
}